openapi: 3.0.0
info:
  description: Deliverea API documentation
  version: '3.0'
  title: Deliverea API

servers:
  - url: https://api.deliverea.com
    description: Production environment
  - url: https://api.sandbox.deliverea.com
    description: Sandbox environment

paths:
  /v3/distribution-centers/{distributionCenterId}/advanced-tracking:
    post:
      tags:
        - AdvancedTracking
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: [ ]
      summary: Configure Advanced Tracking
      requestBody:
        $ref: '#/components/requestBodies/AdvancedTrackingConfigurationRequest'
      responses:
        201:
          description: 'Created'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'
        409:
          $ref: '#/components/responses/SubdomainAlreadyTaken'
        500:
          $ref: '#/components/responses/UnexpectedError'

    put:
      tags:
        - AdvancedTracking
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: []
      summary: Configure Advanced Tracking
      requestBody:
        $ref: '#/components/requestBodies/AdvancedTrackingConfigurationRequest'
      responses:
        204:
          description: 'Updated'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'
        409:
          $ref: '#/components/responses/SubdomainAlreadyTaken'
        500:
          $ref: '#/components/responses/UnexpectedError'

    get:
      tags:
        - AdvancedTracking
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: []
      summary: Get Advanced Tracking configuration
      responses:
        200:
          $ref: '#/components/responses/AdvancedTrackingConfigurationResponse'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/UnexpectedError'

  /v3/distribution-centers/{distributionCenterId}/advanced-tracking/logo:
    post:
      tags:
        - AdvancedTracking
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                logo:
                  type: string
                  format: binary
      security:
        - basicAuth: []
      summary: Upload Advanced Tracking Logo
      responses:
        201:
          description: 'OK'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        500:
          $ref: '#/components/responses/UnexpectedError'

  /v3/distribution-centers/{distributionCenterId}/advanced-tracking/activate:
    patch:
      tags:
        - AdvancedTracking
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: []
      summary: Activates Advanced Tracking
      responses:
        200:
          description: 'OK'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'

  /v3/distribution-centers/{distributionCenterId}/advanced-tracking/deactivate:
    patch:
      tags:
        - AdvancedTracking
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: []
      summary: Deactivates Advanced Tracking
      responses:
        200:
          description: 'OK'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'


  /v3/billing-accounts:
    get:
      tags:
        - BillingAccounts
      security:
        - basicAuth: []
      summary: List billing accounts
      responses:
        200:
          $ref: '#/components/responses/ListBillingAccountResponse'
    post:
      tags:
        - BillingAccounts
      security:
        - basicAuth: []
      summary: Create a new billing account
      requestBody:
        $ref: '#/components/requestBodies/BillingAccountRequest'
      responses:
        201:
          description: "CREATED"
          headers:
            content-location:
              description: Uri for the new created object
              schema:
                type: string
              example: /v3/billing-accounts/49030f12-79e6-4e1f-9e3d-b3f6774d742b
            content-uuid:
              description: Uuid for the new created object
              schema:
                type: string
                format: uuid

  /v3/billing-accounts/{billingAccountId}:
    parameters:
      - in: path
        name: billingAccountId
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - BillingAccounts
      security:
        - basicAuth: []
      summary: Retrieve a billing acount by it's id
      responses:
        200:
          $ref: '#/components/responses/BillingAccountResponse'
        404:
          description: Not found
    put:
      summary: Update a billing account
      description: Performs full update in given billing account
      tags:
        - BillingAccounts
      security:
        - basicAuth: []
      requestBody:
        $ref: '#/components/requestBodies/BillingAccountRequest'
      responses:
        204:
          description: Ok, billing account has been updated
        404:
          description: Not found

  /v3/billing-accounts/{billingAccountId}/activate:
    patch:
      tags:
        - BillingAccounts
      parameters:
        - in: path
          name: billingAccountId
          schema:
            type: string
          required: true
          description: Billing account unique uuid identifier
      security:
        - basicAuth: [ ]
      summary: Activate a billing account
      responses:
        200:
          description: Accepted
        404:
          description: Not found

  /v3/billing-accounts/{billingAccountId}/deactivate:
    patch:
      tags:
        - BillingAccounts
      parameters:
        - in: path
          name: billingAccountId
          schema:
            type: string
          required: true
          description: Billing account unique uuid identifier
      security:
        - basicAuth: [ ]
      summary: Deactivate a billing account
      responses:
        200:
          description: Accepted
        404:
          description: Not found
        409:
          description: Conflict, the billing account has distribution centers assigned


  /v3/carriers:
    get:
      tags:
        - Carriers and services
      security:
        - basicAuth: []
      summary: List available carriers and their methods
      responses:
        200:
          $ref: '#/components/responses/ListCarriersResponse'

  /v3/carriers/{carrierCode}/services:
    get:
      tags:
        - Carriers and services
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: carrierCode
          schema:
            type: string
          required: true
          description: 'Code identifier of the Carrier'
      summary: Get available services for a particular carrier
      responses:
        200:
          $ref: '#/components/responses/ListServicesResponse'
        404:
          $ref: '#/components/responses/NotFound'

  /v3/carriers/{carrierCode}/credential-fields:
    get:
      tags:
        - Carriers and services
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: carrierCode
          schema:
            type: string
          required: true
          description: Credentials to be configured to use the carrier
      summary: Get credentials fields to be configured to use the carrier
      responses:
        200:
          description:  Credentials fields to be configured to use the carrier
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/credentialField'
        404:
          $ref: '#/components/responses/NotFound'


  ### Cost Centers ###
  /v3/distribution-centers/{distributionCenterId}/carriers/{carrierCode}/cost-centers:
    post:
      tags:
        - Cost Centers
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: carrierCode
          schema:
            type: string
          required: true
          description: Credentials to be configured to use the carrier
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: Distribution center unique uuid identifier
      summary: Create a cost center
      requestBody:
        $ref: '#/components/requestBodies/CostCenterRequest'
      responses:
        201:
          description: Created
        409:
          description: Conflict
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: 'CF0002'
                      message:
                        type: string
                        description: 'A configuration already exists for the given carrier and cost center'
                        example: 'A configuration already exists for the given carrier and cost center'
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'

    get:
      tags:
        - Cost Centers
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: carrierCode
          schema:
            type: string
          required: true
          description: Credentials to be configured to use the carrier
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: Distribution center unique uuid identifier
      summary: List cost centers
      responses:
        200:
          $ref: '#/components/responses/ListCostCentersResponse'


  /v3/distribution-centers/{distributionCenterId}/carriers/{carrierCode}/cost-centers/{costCenter}:
    get:
      tags:
        - Cost Centers
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: carrierCode
          schema:
            type: string
          required: true
          description: Credentials to be configured to use the carrier
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: Distribution center unique uuid identifier
        - in: path
          name: costCenter
          schema:
            type: string
          required: true
          description: Alias identifier of the cost center
      summary: Get a cost center
      responses:
        200:
          $ref: '#/components/responses/GetCostCenterResponse'
        404:
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Cost Centers
      security:
        - basicAuth: []
      parameters:
        - in: path
          name: carrierCode
          schema:
            type: string
          required: true
          description: Credentials to be configured to use the carrier
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: Distribution center unique uuid identifier
        - in: path
          name: costCenter
          schema:
            type: string
          required: true
          description: Alias identifier of the cost center
      summary: Edit or activate/deactivate a cost center
      requestBody:
        $ref: '#/components/requestBodies/CostCenterRequest'
      responses:
        200:
          description: Accepted
        404:
          $ref: '#/components/responses/NotFound'

  /v3/distribution-centers/{distributionCenterId}/carriers/{carrierCode}/cost-centers/{costCenter}/services/{serviceCode}/activate:
    patch:
      tags:
        - Cost Centers
      security:
        - basicAuth: [ ]
      parameters:
        - in: path
          name: carrierCode
          schema:
            type: string
          required: true
          description: Credentials to be configured to use the carrier
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: Distribution center unique uuid identifier
        - in: path
          name: costCenter
          schema:
            type: string
          required: true
          description: Alias identifier of the cost center
        - in: path
          name: serviceCode
          schema:
            type: string
          required: true
          description: Alias identifier of the carrier's service
      summary: Ativate a service for a cost center
      responses:
        200:
          description: Accepted
        404:
          $ref: '#/components/responses/NotFound'

  /v3/distribution-centers/{distributionCenterId}/carriers/{carrierCode}/cost-centers/{costCenter}/services/{serviceCode}/deactivate:
    patch:
      tags:
        - Cost Centers
      security:
        - basicAuth: [ ]
      parameters:
        - in: path
          name: carrierCode
          schema:
            type: string
          required: true
          description: Credentials to be configured to use the carrier
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: Distribution center unique uuid identifier
        - in: path
          name: costCenter
          schema:
            type: string
          required: true
          description: Alias identifier of the cost center
        - in: path
          name: serviceCode
          schema:
            type: string
          required: true
          description: Alias identifier of the carrier's service
      summary: Deactivates a service for a cost center
      responses:
        200:
          description: Accepted
        404:
          $ref: '#/components/responses/NotFound'

  /v3/distribution-centers:
    get:
      tags:
        - DistributionCenters
      security:
        - basicAuth: []
      summary: List distribution centers
      responses:
        200:
          $ref: '#/components/responses/ListDistributionCentersResponse'

    post:
      tags:
        - DistributionCenters
      security:
        - basicAuth: []
      summary: Create a distribution center
      requestBody:
        $ref: '#/components/requestBodies/DistributionCenterRequest'
      responses:
        201:
          description: Created
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'

  /v3/distribution-centers/{distributionCenterId}:
    get:
      tags:
        - DistributionCenters
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: Get distribution center by id
      security:
        - basicAuth: []
      summary: Get a distribution center
      responses:
        200:
          $ref: '#/components/responses/GetDistributionCenterResponse'
        404:
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - DistributionCenters
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: Distribution center unique uuid identifier
      security:
        - basicAuth: []
      summary: Edita a distribution center
      requestBody:
        $ref: '#/components/requestBodies/DistributionCenterRequest'
      responses:
        200:
          description: Updated
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'

  /v3/distribution-centers/{distributionCenterId}/activate:
    patch:
      tags:
        - DistributionCenters
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: Distribution center unique uuid identifier
      security:
        - basicAuth: []
      summary: Activate a distribution center
      responses:
        200:
          description: Accepted
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'

  /v3/distribution-centers/{distributionCenterId}/deactivate:
    patch:
      tags:
        - DistributionCenters
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: Distribution center unique uuid identifier
      security:
        - basicAuth: []
      summary: Deactivate a distribution center
      responses:
        200:
          description: Accepted
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'

  /v3/orders:
    post:
      tags:
        - Orders
      security:
        - basicAuth: []
      summary: Create an order (async flow)
      requestBody:
        $ref: '#/components/requestBodies/OrderRequest'
      responses:
        200:
          $ref: '#/components/responses/CreateOrderResponse'
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'
        401:
          $ref: '#/components/responses/ApiUserOrKeyInvalid'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        500:
          $ref: '#/components/responses/UnexpectedError'

    get:
      tags:
        - Orders
      security:
        - basicAuth: []
      summary: Search orders by criteria
      parameters:
        - in: query
          name: carrierCode
          schema:
            type: string
          description: Carrier used when creating the shipment
          example: dummy
        - in: query
          name: serviceCode
          schema:
            type: string
          description: Service used when creating the shipment
          example: standard
        - in: query
          name: costCenterCode
          schema:
            type: string
          description: Alias identifier of the cost center
          example: DEFAULT
        - in: query
          name: clientReference
          schema:
            type: string
          description: Filter by exact clientReference
          example: REF0123456789
        - in: query
          name: delivereaReference
          description: Filter by exact delivereaReference
          schema:
            type: string
          example: D5312427d7f72b0
        - in: query
          name: parcelClientCode
          schema:
            type: string
          description: Filter by exact parcelClientCode
          example: 100597501
        - in: query
          name: dropPointKey
          schema:
            type: string
          description: Filter by drop point key
          example: DP123456789
        - in: query
          name: countryCode
          schema:
            type: string
          description: Destination country code for shipment expeditions or origin country code for return expedition
          example: ES
        - in: query
          name: fromShippingDate
          schema:
            $ref: '#/components/schemas/ShippingDate'
          description: From shipping date starting at
        - in: query
          name: toShippingDate
          schema:
            $ref: '#/components/schemas/ShippingDate'
          description: To shipping date ending at
        - in: query
          name: statuses[]
          schema:
            type: array
            items:
              $ref: '#/components/schemas/OrderStatus'
          description: Order statuses to filter
          example: ['draft','pending']
        - in: query
          name: distributionCenterIds[]
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Uuid'
          style: deepObject
          explode: true
          description: Uuids of the distribution centers to filter
          example: ['51453d83-8014-11ea-bae6-026b033c7ea0']
        - in: query
          name: fromCreatedAtDate
          schema:
            $ref: '#/components/schemas/CreatedAtDate'
          description: From created at date starting at
        - in: query
          name: toCreatedAtDate
          schema:
            $ref: '#/components/schemas/CreatedAtDate'
          description: From created at date ending at
        - in: query
          name: distributionCenterCountryCode
          schema:
            type: string
          description: Filter by distribution center's country
          example: ES
        - in: query
          name: billingAccountId
          schema:
            type: string
          description: Filter by billing account
          example: 7f601f2d-7654-4b1c-a41e-fa77ef21c9fb
        - in: query
          name: page
          schema:
            type: number
          example: 1
        - in: query
          name: itemsPerPage
          schema:
            type: number
          example: 50
      responses:
        200:
          $ref: '#/components/responses/SearchOrdersResponse'


  /v3/orders/{reference}:
    get:
      tags:
        - Orders
      parameters:
        - in: path
          name: reference
          schema:
            type: string
          required: true
          description: 'Order reference {delivereaReference|clientReference|carrierReference}. While delivereaReference is always unique and will have one match, if clientReference or carrierReference is used and there is more than one coincidence, the most recent match will be returned'
      security:
        - basicAuth: []
      summary: Get order by reference
      responses:
        200:
          $ref: '#/components/responses/GetOrderResponse'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/UnexpectedError'


  /v3/orders/{delivereaReference}/{parcelClientCode}/{parcelNumber}/label:
    get:
      tags:
        - Orders
      parameters:
        - in: path
          name: delivereaReference
          schema:
            type: string
          required: true
          description: 'Deliverea reference'
        - in: path
          name: parcelClientCode
          schema:
            type: string
          required: true
          description: Unique parcel identifier, provided by client and required for Label Engine flow
        - in: path
          name: parcelNumber
          schema:
            type: string
          required: true
          description: 'Parcel number out of the total of the the order, (ex: 1, 2, 3...)'
      security:
        - basicAuth: []
      summary: Generate parcel label with engine
      responses:
        200:
          $ref: '#/components/responses/LabelResponse'
        404:
          $ref: '#/components/responses/ParcelNotFound'
        409:
          $ref: '#/components/responses/LabelEngineDisabled'

  /v3/orders/{delivereaReference}/confirm:
    post:
      tags:
        - Orders
      parameters:
        - in: path
          name: delivereaReference
          schema:
            type: string
          required: true
          description: 'Deliverea reference'
      security:
        - basicAuth: []
      summary: Confirm order
      responses:
        202:
          description: Accepted
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/MissingLabel'

  /v3/orders/{delivereaReference}:
    put:
      tags:
        - Orders
      security:
        - basicAuth: []
      summary: Update an order
      description: "Edit the data of a previously created order. To be noted: \n
      - When the parcels array is modified (either by editing, adding or deleting a parcel) all previous parcels must be resent in the request, even if they are not being modified. This is because tht PUT operation overrides the whole parcels array. The same logic applies to the parcels.*.items arrays.\n
      - Distribution center and assignation (carrierCode, serviceCode and costCenterCode) parameters, either explicitly informed or implicitly calculated by the rules, can not be updated. In case these parameters need to be change, the order should be deleted and re-created."
      parameters:
        - in: path
          name: delivereaReference
          schema:
            type: string
          required: true
          description: 'Deliverea reference'
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrderRequest'
      responses:
        204:
          description: Updated
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'
        401:
          $ref: '#/components/responses/ApiUserOrKeyInvalid'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        500:
          $ref: '#/components/responses/UnexpectedError'

    delete:
      tags:
        - Orders
      parameters:
        - in: path
          name: delivereaReference
          schema:
            type: string
          required: true
          description: 'Deliverea reference'
      security:
        - basicAuth: []
      summary: Delete an order
      responses:
        204:
          description: Canceled
        404:
          $ref: '#/components/responses/NotFound'


  ### SHIPMENTS ###
  /v3/shipments:
    post:
      tags:
        - Shipments
      security:
        - basicAuth: []
      summary: Create a shipment (sync flow)
      requestBody:
        $ref: '#/components/requestBodies/ShipmentRequest'
      responses:
        200:
          $ref: '#/components/responses/CreateShipmentResponse'
        401:
          $ref: '#/components/responses/ApiUserOrKeyInvalid'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        422:
          $ref: '#/components/responses/MissingOrInvalidFieldsOrCarrierDocumentationError'
        500:
          $ref: '#/components/responses/UnexpectedError'

    get:
      tags:
        - Shipments
      security:
        - basicAuth: []
      summary: Search shipments by criteria
      parameters:
        - in: query
          name: carrierCode
          schema:
            type: string
          description: Carrier used when creating the shipment
          example: dummy
        - in: query
          name: serviceCode
          schema:
            type: string
          description: Service used when creating the shipment
          example: standard
        - in: query
          name: costCenterCode
          schema:
            type: string
          description: Alias identifier of the cost center
          example: DEFAULT
        - in: query
          name: clientReference
          schema:
            type: string
          description: Filter by exact clientReference
          example: REF0123456789
        - in: query
          name: carrierReference
          description: Unique carrier reference
          schema:
            type: string
          example: CAR987654321
        - in: query
          name: delivereaReference
          description: Filter by exact delivereaReference
          schema:
            type: string
          example: D5312427d7f72b0
        - in: query
          name: parcelClientCode
          schema:
            type: string
          description: Filter by exact parcelClientCode
          example: 100597501
        - in: query
          name: toName
          schema:
            type: string
          description: Name of the recipient (like)
          example: 'John D'
        - in: query
          name: toZipCode
          schema:
            type: string
          description: Destination zip code
          example: 08005
        - in: query
          name: toCountryCode
          schema:
            type: string
          description: Destination country code
          example: ES
        - in: query
          name: dropPointKey
          schema:
            type: string
          description: Filter by drop point key
          example: DP123456789
        - in: query
          name: cashOnDelivery
          schema:
            type: number
            enum:
              [0,1]
          description: Wether or not the expedition includes cash on delivery (truthy/falsy type boolean)
          example: 1
        - in: query
          name: fromShippingDate
          schema:
            $ref: '#/components/schemas/ShippingDate'
          description: From shipping date starting at
        - in: query
          name: toShippingDate
          schema:
            $ref: '#/components/schemas/ShippingDate'
          description: To shipping date ending at
        - in: query
          name: statuses[]
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Status'
          description: Shipment statuses to filter
          example: ['active','finalized']
        - in: query
          name: currentTrackingCodes[]
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TrackingCodes'
          description: Filter by tracking codes
          example: ['11']
        - in: query
          name: distributionCenterIds[]
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Uuid'
          style: deepObject
          explode: true
          description: Uuids of the distribution centers to filter
          example: ['51453d83-8014-11ea-bae6-026b033c7ea0']
        - in: query
          name: fromCreatedAtDate
          schema:
            $ref: '#/components/schemas/CreatedAtDate'
          description: From created at date starting at
        - in: query
          name: toCreatedAtDate
          schema:
            $ref: '#/components/schemas/CreatedAtDate'
          description: From created at date ending at
        - in: query
          name: distributionCenterCountryCode
          schema:
            type: string
          description: Filter by distribution center's country
          example: ES
        - in: query
          name: billingAccountId
          schema:
            type: string
          description: Filter by billing account
          example: 7f601f2d-7654-4b1c-a41e-fa77ef21c9fb
        - in: query
          name: page
          schema:
            type: number
          example: 1
        - in: query
          name: itemsPerPage
          schema:
            type: number
          example: 50
      responses:
        200:
          $ref: '#/components/responses/SearchShipmentsResponse'


  /v3/shipments/{reference}:
    get:
      tags:
        - Shipments
      parameters:
        - in: path
          name: reference
          schema:
            type: string
          required: true
          description: 'Shipment reference {delivereaReference|clientReference|carrierReference}. While delivereaReference is always unique and will have one match, if clientReference or carrierReference is used and there is more than one coincidence, the most recent match will be returned'
      security:
        - basicAuth: []
      summary: Get shipment by reference
      responses:
        200:
          $ref: '#/components/responses/GetShipmentResponse'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/UnexpectedError'

  /v3/shipments/{delivereaReference}/label:
    get:
      tags:
        - Shipments
      parameters:
        - in: path
          name: delivereaReference
          schema:
            type: string
          required: true
          description: 'Deliverea reference'
      security:
        - basicAuth: []
      summary: Get shipment label
      responses:
        200:
          $ref: '#/components/responses/LabelResponse'
        404:
          $ref: '#/components/responses/NotFound'

  /v3/shipments/{delivereaReference}/trackings:
    get:
      tags:
        - Trackings
      parameters:
        - in: path
          name: delivereaReference
          schema:
            type: string
          required: true
          description: 'Deliverea reference'
      security:
        - basicAuth: []
      summary: Get shipment trackings
      responses:
        200:
          $ref: '#/components/responses/GetExpeditionTrackingsResponse'
        404:
          $ref: '#/components/responses/NotFound'

  /v3/shipments/{delivereaReference}/pod:
    get:
      tags:
        - Trackings
      parameters:
        - in: path
          name: delivereaReference
          schema:
            type: string
          required: true
          description: 'Deliverea reference'
      security:
        - basicAuth: []
      summary: Get shipment Proof of Delivery
      responses:
        200:
          $ref: '#/components/responses/GetExpeditionPodResponse'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/ShipmentNotDelivered'

  /v3/shipments/{delivereaReference}:
    delete:
      tags:
        - Shipments
      parameters:
        - in: path
          name: delivereaReference
          schema:
            type: string
          required: true
          description: 'Deliverea reference'
      security:
        - basicAuth: []
      summary: Cancel shipment
      responses:
        204:
          description: Canceled
        404:
          $ref: '#/components/responses/NotFound'
        409:
          description: 'Shipment could not be cancelled'
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: 'CE0003'
                      message:
                        type: string
                        description: The expedition is not in a status that can be cancelled anymore
                        example: Expedition with reference XXXXXX is being deliverd and cann not be cancelled anymore

  /v3/shipments/manifests:
    post:
      tags:
        - Shipments
      parameters:
        - in: query
          name: carrierCode
          schema:
            type: string
          example: dummy
          description: Carrier the manifest will be generated for
        - in: query
          name: full
          description: If present and truthy, details of all the expedition will be inclueded (bigger file)
          schema:
            type: boolean
            default: false
          example: false
        - in: query
          name: distributionCenterId
          description: Distribution center the manifest will be generated for
          schema:
            type: string
          example: 51453d83-8014-11ea-bae6-026b033c7ea0
        - in: query
          name: fromCreatedAtDate
          schema:
            type: string
          example: '2022-05-22'
          description: Starting date the manifest will be generated from (format YYYY-MM-DD)
        - in: query
          name: toCreatedAtDate
          schema:
            type: string
          example: '2022-05-22'
          description: Ending date the manifest will be generated from (format YYYY-MM-DD)
      security:
        - basicAuth: [ ]
      summary: Generate shipments manifest for a day or date range
      responses:
        200:
          $ref: '#/components/responses/GenerateManifestResponse'
        404:
          $ref: '#/components/responses/NotFound'
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'

  /v3/shipments/exports:
    post:
      tags:
        - Shipments
      security:
        - basicAuth: []
      summary: Export shipments data to file
      requestBody:
        description: 'Export request'
        content:
          application/json:
            schema:
              required:
                - destination
                - format
                - criteria
              properties:
                destination:
                  type: string
                  nullable: false
                  description: Email where the export will be sent
                  example: contact@email.com
                format:
                  type: string
                  enum: [xlsx, csv]
                  nullable: false
                  description: Format of the file exported
                  example: xlsx
                criteria:
                  type: object
                  properties:
                    carrierCode:
                      type: string
                      description: Carrier used when creating the shipment
                      example: dummy
                    serviceCode:
                      type: string
                      description: Service used when creating the shipment
                      example: standard
                    costCenterCode:
                      type: string
                      description: Alias identifier of the cost center
                      example: DEFAULT
                    clientReference:
                      type: string
                      description: Filter by exact clientReference
                      example: REF0123456789
                    carrierReference:
                      type: string
                      description: Filter by exact carrierReference
                      example: CAR987654321
                    delivereaReference:
                      type: string
                      description: Filter by exact delivereaReference
                      example: D5312427d7f72b0
                    parcelClientCode:
                      type: string
                      description: Filter by exact parcelClientCode
                      example: 100597501
                    toName:
                      type: string
                      description: Name of the recipient (like)
                      example: 'John D'
                    toZipCode:
                      type: string
                      description: Destination zip code
                      example: 08005
                    toCountryCode:
                      type: string
                      description: Destination country code
                      example: ES
                    dropPointKey:
                      type: string
                      description: Filter by drop point key
                      example: DP123456789
                    cashOnDelivery:
                      type: number
                      enum:
                        [0,1]
                      description: Wether or not the expedition includes cash on delivery (truthy/falsy type boolean)
                      example: 1
                    fromShippingDate:
                      allOf:
                        - $ref: '#/components/schemas/ShippingDate'
                        - description: From shipping date starting at
                    toShippingDate:
                      allOf:
                        - $ref: '#/components/schemas/ShippingDate'
                        - description: To shipping date ending at
                    statuses:
                      type: array
                      items:
                        $ref: '#/components/schemas/Status'
                      description: Shipment statuses to filter
                      example: ['active','finalized']
                    currentTrackingCodes:
                      type: array
                      items:
                        $ref: '#/components/schemas/TrackingCodes'
                      description: Filter by tracking codes
                      example: ['11']
                    distributionCenterIds:
                      type: array
                      items:
                        $ref: '#/components/schemas/Uuid'
                      description: Uuids of the distribution centers to filter
                      example: ['51453d83-8014-11ea-bae6-026b033c7ea0']
                    fromCreatedAtDate:
                      allOf:
                        - $ref: '#/components/schemas/CreatedAtDate'
                        - description: From created at date starting at
                    toCreatedAtDate:
                      allOf:
                        - $ref: '#/components/schemas/CreatedAtDate'
                        - description: From created at date ending at
                    distributionCenterCountryCode:
                      type: string
                      description: Filter by distribution center's country
                      example: ES
                    billingAccountId:
                      type: string
                      description: Filter by billing account
                      example: 7f601f2d-7654-4b1c-a41e-fa77ef21c9fb
      responses:
        202:
          description: Accepted
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'

  ### Returns ###
  /v3/returns:
    post:
      tags:
        - Returns
      security:
        - basicAuth: []
      summary: Create a return (sync flow)
      requestBody:
        $ref: '#/components/requestBodies/ReturnRequest'
      responses:
        200:
          $ref: '#/components/responses/CreateShipmentResponse'
        401:
          $ref: '#/components/responses/ApiUserOrKeyInvalid'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        422:
          $ref: '#/components/responses/MissingOrInvalidFieldsOrCarrierDocumentationError'
        500:
          $ref: '#/components/responses/UnexpectedError'

    get:
      tags:
        - Returns
      security:
        - basicAuth: []
      summary: Search returns by criteria
      parameters:
        - in: query
          name: carrierCode
          schema:
            type: string
          description: Carrier used when creating the shipment
          example: dummy
        - in: query
          name: serviceCode
          schema:
            type: string
          description: Service used when creating the shipment
          example: standard
        - in: query
          name: costCenterCode
          schema:
            type: string
          description: Alias identifier of the cost center
          example: DEFAULT
        - in: query
          name: clientReference
          schema:
            type: string
          description: Filter by exact clientReference
          example: REF0123456789
        - in: query
          name: carrierReference
          description: Unique carrier reference
          schema:
            type: string
          example: CAR987654321
        - in: query
          name: delivereaReference
          description: Filter by exact delivereaReference
          schema:
            type: string
          example: D5312427d7f72b0
        - in: query
          name: parcelClientCode
          schema:
            type: string
          description: Filter by exact parcelClientCode
          example: 100597501
        - in: query
          name: fromName
          schema:
            type: string
          description: Name of the recipient (like)
          example: 'John D'
        - in: query
          name: fromZipCode
          schema:
            type: string
          description: Destination zip code
          example: 08005
        - in: query
          name: fromCountryCode
          schema:
            type: string
          description: Destination country code
          example: ES
        - in: query
          name: fromShippingDate
          schema:
            $ref: '#/components/schemas/ShippingDate'
          description: From shipping date starting at
        - in: query
          name: toShippingDate
          schema:
            $ref: '#/components/schemas/ShippingDate'
          description: To shipping date ending at
        - in: query
          name: statuses[]
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Status'
          description: Shipment statuses to filter
          example: ['active','finalized']
        - in: query
          name: currentTrackingCodes[]
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TrackingCodes'
          description: Filter by tracking codes
          example: ['11']
        - in: query
          name: distributionCenterIds[]
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Uuid'
          style: deepObject
          explode: true
          description: Uuids of the distribution centers to filter
          example: ['51453d83-8014-11ea-bae6-026b033c7ea0']
        - in: query
          name: fromCreatedAtDate
          schema:
            $ref: '#/components/schemas/CreatedAtDate'
          description: From created at date starting at
        - in: query
          name: toCreatedAtDate
          schema:
            $ref: '#/components/schemas/CreatedAtDate'
          description: From created at date ending at
        - in: query
          name: distributionCenterCountryCode
          schema:
            type: string
          description: Filter by distribution center's country
          example: ES
        - in: query
          name: billingAccountId
          schema:
            type: string
          description: Filter by billing account
          example: 7f601f2d-7654-4b1c-a41e-fa77ef21c9fb
        - in: query
          name: page
          schema:
            type: number
          example: 1
        - in: query
          name: itemsPerPage
          schema:
            type: number
          example: 50
      responses:
        200:
          $ref: '#/components/responses/SearchShipmentsResponse'


  /v3/returns/{reference}:
    get:
      tags:
        - Returns
      parameters:
        - in: path
          name: reference
          schema:
            type: string
          required: true
          description: 'Return reference {delivereaReference|clientReference|carrierReference}. While delivereaReference is always unique and will have one match, if clientReference or carrierReference is used and there is more than one coincidence, the most recent match will be returned'
      security:
        - basicAuth: []
      summary: Get return by reference
      responses:
        200:
          $ref: '#/components/responses/GetReturnResponse'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/UnexpectedError'


  /v3/returns/{delivereaReference}/label:
    get:
      tags:
        - Returns
      parameters:
        - in: path
          name: delivereaReference
          schema:
            type: string
          required: true
          description: 'Deliverea reference'
      security:
        - basicAuth: []
      summary: Get return label
      responses:
        200:
          $ref: '#/components/responses/LabelResponse'
        404:
          $ref: '#/components/responses/NotFound'

  /v3/returns/{delivereaReference}/trackings:
    get:
      tags:
        - Trackings
      parameters:
        - in: path
          name: delivereaReference
          schema:
            type: string
          required: true
          description: 'Deliverea reference'
      security:
        - basicAuth: []
      summary: Get return trackings
      responses:
        200:
          $ref: '#/components/responses/GetExpeditionTrackingsResponse'
        404:
          $ref: '#/components/responses/NotFound'

  /v3/returns/{delivereaReference}:
    delete:
      tags:
        - Returns
      parameters:
        - in: path
          name: delivereaReference
          schema:
            type: string
          required: true
          description: 'Deliverea reference'
      security:
        - basicAuth: []
      summary: Cancel return
      responses:
        204:
          description: Canceled
        404:
          $ref: '#/components/responses/NotFound'
        409:
          description: 'Shipment could not be cancelled'
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: 'CE0003'
                      message:
                        type: string
                        description: The expedition is not in a status that can be cancelled anymore
                        example: Expedition with reference XXXXXX is being deliverd and cann not be cancelled anymore

  /v3/returns/exports:
    post:
      tags:
        - Returns
      security:
        - basicAuth: []
      summary: Export returns data to file
      requestBody:
        description: 'Export request'
        content:
          application/json:
            schema:
              required:
                - destination
                - format
                - criteria
              properties:
                destination:
                  type: string
                  nullable: false
                  description: Email where the export will be sent
                  example: contact@email.com
                format:
                  type: string
                  enum: [xlsx, csv]
                  nullable: false
                  description: Format of the file exported
                  example: xlsx
                criteria:
                  type: object
                  properties:
                    carrierCode:
                      type: string
                      description: Carrier used when creating the shipment
                      example: dummy
                    serviceCode:
                      type: string
                      description: Service used when creating the shipment
                      example: standard
                    costCenterCode:
                      type: string
                      description: Alias identifier of the cost center
                      example: DEFAULT
                    clientReference:
                      type: string
                      description: Filter by exact clientReference
                      example: REF0123456789
                    carrierReference:
                      type: string
                      description: Filter by exact carrierReference
                      example: CAR987654321
                    delivereaReference:
                      type: string
                      description: Filter by exact delivereaReference
                      example: D5312427d7f72b0
                    parcelClientCode:
                      type: string
                      description: Filter by exact parcelClientCode
                      example: 100597501
                    fromName:
                      type: string
                      description: Name of the recipient (like)
                      example: 'John D'
                    fromZipCode:
                      type: string
                      description: Destination zip code
                      example: 08005
                    fromCountryCode:
                      type: string
                      description: Destination country code
                      example: ES
                    fromShippingDate:
                      allOf:
                        - $ref: '#/components/schemas/ShippingDate'
                        - description: From shipping date starting at
                    toShippingDate:
                      allOf:
                        - $ref: '#/components/schemas/ShippingDate'
                        - description: To shipping date ending at
                    statuses:
                      type: array
                      items:
                        $ref: '#/components/schemas/Status'
                      description: Shipment statuses to filter
                      example: ['active','finalized']
                    currentTrackingCodes:
                      type: array
                      items:
                        $ref: '#/components/schemas/TrackingCodes'
                      description: Filter by tracking codes
                      example: ['11']
                    distributionCenterIds:
                      type: array
                      items:
                        $ref: '#/components/schemas/Uuid'
                      description: Uuids of the distribution centers to filter
                      example: ['51453d83-8014-11ea-bae6-026b033c7ea0']
                    fromCreatedAtDate:
                      allOf:
                        - $ref: '#/components/schemas/CreatedAtDate'
                        - description: From created at date starting at
                    toCreatedAtDate:
                      allOf:
                        - $ref: '#/components/schemas/CreatedAtDate'
                        - description: From created at date ending at
                    distributionCenterCountryCode:
                      type: string
                      description: Filter by distribution center's country
                      example: ES
                    billingAccountId:
                      type: string
                      description: Filter by billing account
                      example: 7f601f2d-7654-4b1c-a41e-fa77ef21c9fb
      responses:
        202:
          description: Accepted
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'

  /v3/expeditions/{delivereaReference}/trackings:
    post:
      tags:
        - Trackings
      parameters:
        - in: path
          name: delivereaReference
          schema:
            type: string
          required: true
          description: 'Deliverea reference'
      security:
        - basicAuth: []
      summary: Add tracking info to a expedition
      requestBody:
        description: 'Add tracking request'
        content:
          application/json:
            schema:
              properties:
                carrierCode:
                  type: string
                  nullable: false
                  example: 'ownCarrier'
                code:
                  description: 'The status of the expedition in deliverea codes'
                  type: number
                  nullable: false
                  example: 11
                details:
                  type: string
                  example: "More info of tracking"
                  nullable: false
                date:
                  allOf:
                    - $ref: '#/components/schemas/Date'
                  nullable: false
                  description: 'The date when occurred the tracking event'
      responses:
        201:
          description: 'Tracking created'
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'
        404:
          $ref: '#/components/responses/NotFound'

  ### Assignation match ###
  /v3/{expeditionType}/assignation:
    post:
      tags:
        - Assignation match
      parameters:
        - in: path
          name: expeditionType
          schema:
            type: string
            enum:
              - shipments
              - returns
          required: true
          description: 'Expedition type'
      security:
        - basicAuth: []
      summary: Match Rule
      requestBody:
        $ref: '#/components/requestBodies/OrderRequest'
      responses:
        200:
          description: carrier/costCenterCode/service assignation
          content:
            application/json:
              schema:
                properties:
                  carrierCode:
                    type: string
                    nullable: true
                    description: Carrier code. If rules are to be use this parameter should be set to 'auto'.
                    example: dummy
                  serviceCode:
                    type: string
                    nullable: true
                    description: Service code. If rules are to be use this parameter should be set to 'auto'.
                    example: standard
                  costCenterCode:
                    type: string
                    nullable: true
                    description: Alias identifier of the cost center
                    default: DEFAULT
        400:
          description: 'No matching rule found'
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: 'VE0400'
                      message:
                        type: string
                        description: No rules matched for this expedition
                        example: No rules matched for this expedition



  /v3/carriers/{carrierCode}/range:
    get:
      tags:
        - Label Engine
      parameters:
        - in: path
          name: carrierCode
          schema:
            type: string
            example: dummy
          required: true
          description: Carrier of which the range is being configured
      security:
        - basicAuth: []
      summary: Get label range
      responses:
        200:
          description: Range status
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      startCode:
                        type: number
                        description: First number of the range configured
                        example: 1
                      endCode:
                        type: number
                        description: Last number of the range configurd
                        example: 9999999
                      availableCodes:
                        type: number
                        description: Codes still avaliable for use
                        example: 9900000
                      currentCode:
                        type: number
                        description: Next code that will be used
                        example: 10000
                      percentageUsed:
                        type: number
                        description: Percentage of codes used
                        example:  "0.09%"
        404:
          description: Missing or invalid field(s)
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: 'CF0004'
                      message:
                        type: string
                        description: Carrier range not found
                        example: "Label engine range could not retrieved for carrier dummy. Carrier range not found"

    put:
      tags:
        - Label Engine
      parameters:
        - in: path
          name: carrierCode
          schema:
            type: string
            example: dummy
          required: true
          description: Carrier of which the range is being configured
      security:
        - basicAuth: []
      summary: Configure label range
      requestBody:
        description: 'Range configuration request'
        content:
          application/json:
            schema:
              required:
                - startCode
                - endCode
              properties:
                startCode:
                  type: number
                  description: First number of the range configured
                  example: 1
                endCode:
                  type: number
                  description: Last number of the range configurd (must be bigger than startCode)
                  example: 9999999
      responses:
        200:
          description: Range configured correctly
        422:
          description: Missing or invalid field(s)
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: 'VE0900'
                      message:
                        type: string
                        description: Missing or invalid field(s)
                        example: "startCode: This value should not be blank."


  /v3/distribution-centers/{distributionCenterId}/returns-portal:
    post:
      tags:
        - ReturnsWebPortal
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: [ ]
      summary: Configure Returns Web Portal
      requestBody:
        $ref: '#/components/requestBodies/ReturnsWebPortalConfigurationRequest'
      responses:
        201:
          description: 'Created'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'
        409:
          $ref: '#/components/responses/SubdomainAlreadyTaken'
        500:
          $ref: '#/components/responses/UnexpectedError'

    put:
      tags:
        - ReturnsWebPortal
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: [ ]
      summary: Configure Returns Web Portal
      requestBody:
        $ref: '#/components/requestBodies/ReturnsWebPortalConfigurationRequest'
      responses:
        204:
          description: 'OK'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/SubdomainAlreadyTaken'
        500:
          $ref: '#/components/responses/UnexpectedError'

    get:
      tags:
        - ReturnsWebPortal
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: [ ]
      summary: Get Returns Web Portal configuration
      responses:
        200:
          $ref: '#/components/responses/ReturnsWebPortalConfigurationResponse'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        500:
          $ref: '#/components/responses/UnexpectedError'

  /v3/distribution-centers/{distributionCenterId}/returns-portal/logo:
    post:
      tags:
        - ReturnsWebPortal
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                logo:
                  type: string
                  format: binary
      security:
        - basicAuth: [ ]
      summary: Upload Returns Web Portal Logo
      responses:
        201:
          description: 'OK'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        500:
          $ref: '#/components/responses/UnexpectedError'

  /v3/distribution-centers/{distributionCenterId}/returns-portal/activate:
    patch:
      tags:
        - ReturnsWebPortal
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: [ ]
      summary: Activates Returns Web Portal
      responses:
        200:
          description: 'OK'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'

  /v3/distribution-centers/{distributionCenterId}/returns-portal/deactivate:
    patch:
      tags:
        - ReturnsWebPortal
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: [ ]
      summary: Deactivates Returns Web Portal
      responses:
        200:
          description: 'OK'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'

  /v3/rules:
    post:
      tags:
        - Rules
      security:
        - basicAuth: []
      summary: Create a new rule
      requestBody:
        $ref: '#/components/requestBodies/RulesConfigurationRequest'
      responses:
        201:
          description: 'OK'
        409:
          $ref: '#/components/responses/ConflictWithPriorityRuleError'
        422:
          $ref: '#/components/responses/RequestValidationRuleError'
        400:
          $ref: '#/components/responses/ModuleNotExistsRuleError'
        403:
          $ref: '#/components/responses/UserNotBelongToTheDistributionCenterRuleError'
    get:
      tags:
        - Rules
      security:
        - basicAuth: []
      summary: Get a list of rules
      parameters:
        - name: "distributionCenterId"
          in: "query"
          description: "ID of distribution center"
          required: true
          schema:
            type: string
            format: uuid
          example: '9be66fcc-593e-4a0c-b5b7-af086dd99506'
        - name: "module"
          in: "query"
          description: "The module of the rule, if not value provided use general"
          required: false
          schema:
            type: string
          example: "returns"
        - name: "limit"
          in: "query"
          description: "Limit the number of rules"
          required: false
          schema:
            type: integer
          example: 1
        - name: "offset"
          in: "query"
          description: "Offset the number of rules, usefull for pagination results"
          required: false
          schema:
            type: integer
      responses:
        200:
          $ref: '#/components/responses/RuleListResponse'
        400:
          $ref: '#/components/responses/BadRequestError'
  /v3/rules/{id}:
    get:
      tags:
        - Rules
      security:
        - basicAuth: []
      summary: Get a rule by id
      parameters:
        - name: "id"
          in: "path"
          description: "ID of the rule"
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          $ref: '#/components/responses/RuleResponse'
        422:
          $ref: '#/components/responses/UnprocessableContentError'
        404:
          $ref: '#/components/responses/RuleNotFoundError'
        403:
          $ref: '#/components/responses/UserNotBelongToTheDistributionCenterRuleError'
    put:
      tags:
        - Rules
      security:
        - basicAuth: []
      summary: Update the properties of the rule
      parameters:
        - name: "id"
          in: "path"
          description: "ID of the rule"
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: '#/components/requestBodies/RulesUpdateRequest'
      responses:
        200:
          description: 'OK'
        422:
          $ref: '#/components/responses/UnprocessableContentError'
        404:
          $ref: '#/components/responses/RuleNotFoundError'
        403:
          $ref: '#/components/responses/UserNotBelongToTheDistributionCenterRuleError'
    delete:
      tags:
        - Rules
      security:
        - basicAuth: []
      summary: Update the properties of the rule
      parameters:
        - name: "id"
          in: "path"
          description: "ID of the rule"
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: 'OK'
        404:
          $ref: '#/components/responses/RuleNotFoundError'
        403:
          $ref: '#/components/responses/UserNotBelongToTheDistributionCenterRuleError'

  /v3/rules/match:
    post:
      summary: Return matched rule
      description: Return the rule that meets the conditions
      tags:
        - Rules
      security:
        - basicAuth: []
      requestBody:
        $ref: '#/components/requestBodies/RulesMatchRequest'
      responses:
        200:
          $ref: '#/components/responses/RuleResponse'
        422:
          $ref: '#/components/responses/UnprocessableMatchContentError'
        400:
          $ref: '#/components/responses/NoRuleMatchError'


  /v3/distribution-centers/{distributionCenterId}/trackings-webhook:
    post:
      tags:
        - TrackingsWebhook
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: []
      summary: Create Trackings Webhook configuration
      requestBody:
        $ref: '#/components/requestBodies/TrackingsWebhookConfigurationRequest'
      responses:
        201:
          description: 'Created'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'
        500:
          $ref: '#/components/responses/UnexpectedError'

    put:
      tags:
        - TrackingsWebhook
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: []
      summary: Edit Trackings Webhook configuration
      requestBody:
        $ref: '#/components/requestBodies/TrackingsWebhookConfigurationRequest'
      responses:
        204:
          description: 'OK'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        422:
          $ref: '#/components/responses/MissingOrInvalidFields'
        500:
          $ref: '#/components/responses/UnexpectedError'

    get:
      tags:
        - TrackingsWebhook
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: []
      summary: Get Trackings Webhook configuration
      responses:
        200:
          $ref: '#/components/responses/TrackingsWebhookConfigurationResponse'
        404:
          $ref: '#/components/responses/NotFound'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'
        500:
          $ref: '#/components/responses/UnexpectedError'


  /v3/distribution-centers/{distributionCenterId}/trackings-webhook/activate:
    patch:
      tags:
        - TrackingsWebhook
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: []
      summary: Activates Trackings Webhook
      responses:
        200:
          description: 'OK'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'

  /v3/distribution-centers/{distributionCenterId}/trackings-webhook/deactivate:
    patch:
      tags:
        - TrackingsWebhook
      parameters:
        - in: path
          name: distributionCenterId
          schema:
            type: string
          required: true
          description: 'Distribution Center identifier'
      security:
        - basicAuth: []
      summary: Deactivates Trackings Webhook
      responses:
        200:
          description: 'OK'
        403:
          $ref: '#/components/responses/UserDoesNotBelongToDistributionCenterError'

  /v3/address-validation:
    get:
      tags:
        - Address Validation and Geolocation
      parameters:
        - in: query
          name: street
          schema:
            type: string
            example: Carrer Llauder
          required: true
          description: Street name (refer from including number, floor or door information)
        - in: query
          name: number
          schema:
            type: string
            example: 1
          required: false
          description: House number (refer from including floor or door information)
        - in: query
          name: city
          schema:
            type: string
            example: Barcelona
          required: false
          description: Locality
        - in: query
          name: zipCode
          schema:
            type: string
            example: 08003
          required: true
          description: Zip code
        - in: query
          name: countryCode
          schema:
            type: string
            example: ES
          required: true
          description: Country code in ISO format 3166-1-alpha-2
      security:
        - basicAuth: []
      summary: Validates that the address passed exists and is correct. If correct, the address will be returned normalized including Geolocation.
      responses:
        200:
          description: Valid match
          content:
            application/json:
              schema:
                properties:
                  match:
                    $ref: '#/components/schemas/Match'
                  address:
                    type: object
                    properties:
                      street:
                        type: number
                        description: Normalized street name, not including number, floor or door information
                        example: Carrer Llauder
                      number:
                        type: string
                        description: House number
                        example: 1
                      city:
                        type: string
                        description: Locality's name
                        example: Barcelona
                      zipCode:
                        type: string
                        description: Postal code of the municipality
                        example: 08003
                      countryCode:
                        type: string
                        description: Country code in ISO format 3166-1-alpha-2
                        example: ES
                      country:
                        type: string
                        description: Last number of the range configurd
                        example: Spain
                      latitude:
                        type: number
                        description: Latitude
                        example: 41.3816785
                      longitude:
                        type: number
                        description: Longitude
                        example: 2.180848

        404:
          description: Match not found
          content:
            application/json:
              schema:
                properties:
                  match:
                    allOf:
                      - $ref: '#/components/schemas/Match'
                      - example: none
                  address:
                    example: null

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic

  requestBodies:
    AdvancedTrackingConfigurationRequest:
      description: 'Advanced tracking configuration request'
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/AdvancedTrackingConfiguration'

    BillingAccountRequest:
      description: 'Billing account request'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BillingAccount'

    CostCenterRequest:
      description: Cost center properties and status
      content:
        application/json:
          schema:
            properties:
              status:
                type: boolean
                description: active or inactive
                example: true
              costCenter:
                type: string
                description: Alias identifier of the cost center
                example: DEFAULT
              labelType:
                type: string
                description: pdf or zpl depending on availability
                example: pdf
              labelSource:
                type: string
                description: carrier or label engine depending on availability
                example: carrier
              contact:
                type: string
                description: Carrier contact to be written to in case of opening a Comm Hub ticket
                example: support@dummy.com
              credentials:
                type: object
                description: Carrier credentials configured for the cost center (see credential fields)
                example:
                  userName: demo
                  password: demo

    DistributionCenterRequest:
      description: 'Distribution center creation request'
      content:
        application/json:
          schema:
            required:
              - name
              - address
              - zipCode
              - city
              - phone
              - email
            properties:
              name:
                type: string
                description: name of the distribution center
                example: Warehouse 1
              address:
                type: string
                description: Full address including street, mumber, floor and door
                example: Diagonal 25, 2 floor 1st
              city:
                type: string
                nullable: false
                description: Municipality
                example: 'Barcelona'
              zipCode:
                type: string
                nullable: false
                description: Postal code of the municipality
                example: '08005'
              countryCode:
                type: string
                nullable: true
                description: Country code in ISO format 3166-1-alpha-2
                example: ES
              stateCode:
                type: string
                nullable: true
                description: State code in ISO format 3166-1-alpha-2 (only for US and Canada)
                example: null
              observations:
                type: string
                nullable: true
                description: Extra information regarding the address
                example: Back door, beware the dog
              phone:
                type: string
                nullable: false
                description: 'Phone number. Depending on the carrier and country international prefix might be required (ex: 0034 666778899)'
                example: 666778899
              email:
                type: string
                nullable: false
                description: Email
                example: mymail@example.com
              latitude:
                type: number
                nullable: true
                description: Latitude
                example: 41.3816785
              longitude:
                type: number
                nullable: true
                description: Longitude
                example: 2.180848
              billingAccountId:
                type: string
                format: uuid
                nullable: true
                description: Billing account uuid which is associated to this distribution center

    OrderRequest:
      description: 'Order creation request'
      content:
        application/json:
          schema:
            required:
              - to
              - carrierCode
              - serviceCode
              - costCenterCode
              - clientReference
              - shippingDate
              - distributionCenterId
              - parcels
            properties:
              to:
                $ref: '#/components/schemas/Address'
              carrierCode:
                type: string
                nullable: true
                description: Carrier code. If rules are to be use this parameter should be set to 'auto'.
                example: dummy
              serviceCode:
                type: string
                nullable: true
                description: Service code. If rules are to be use this parameter should be set to 'auto'.
                example: standard
              costCenterCode:
                type: string
                nullable: true
                description: Alias identifier of the cost center
                default: DEFAULT
              distributionCenterId:
                type: string
                description: 'Distribution center identifier'
                example: '51453d83-8014-11ea-bae6-026b033c7ea0'
              clientReference:
                type: string
                nullable: false
                description: Referennce of the shipping order in the client systems
                example: REF0123456789
              shippingDate:
                $ref: '#/components/schemas/ShippingDate'
              description:
                type: string
                nullable: true
                description: Description of the expedition articles (required for crossborder internationa expeditions if no description by parcel[items] is present)
                example: Shoes and Shirts
              totalAmount:
                $ref: '#/components/schemas/TotalAmount'
              parcels:
                type: array
                items:
                  $ref: '#/components/schemas/Parcel'
              serviceAttributes:
                $ref: '#/components/schemas/ServiceAttributes'
              clientAdditionalInfo:
                $ref: '#/components/schemas/ClientAdditionalInfo'
              bulky:
                $ref: '#/components/schemas/Bulky'
              customs:
                $ref: '#/components/schemas/Customs'

    UpdateOrderRequest:
      description: 'Order update request'
      content:
        application/json:
          schema:
            type: object
            properties:
              to:
                $ref: '#/components/schemas/Address'
              shippingDate:
                $ref: '#/components/schemas/ShippingDate'
              parcels:
                type: array
                items:
                  $ref: '#/components/schemas/Parcel'
              serviceAttributes:
                $ref: '#/components/schemas/ServiceAttributes'
              clientAdditionalInfo:
                $ref: '#/components/schemas/ClientAdditionalInfo'

    ShipmentRequest:
      description: 'Shipment documentation request'
      content:
        application/json:
          schema:
            required:
              - to
              - carrierCode
              - serviceCode
              - costCenterCode
              - clientReference
              - shippingDate
              - distributionCenterId
              - parcels
            properties:
              to:
                $ref: '#/components/schemas/Address'
              carrierCode:
                type: string
                nullable: true
                description: Carrier code. If rules are to be use this parameter should be set to 'auto'.
                example: dummy
              serviceCode:
                type: string
                nullable: true
                description: Service code. If rules are to be use this parameter should be set to 'auto'.
                example: standard
              costCenterCode:
                type: string
                nullable: true
                description: Alias identifier of the cost center
                default: DEFAULT
              distributionCenterId:
                type: string
                description: 'Distribution center identifier'
                example: '51453d83-8014-11ea-bae6-026b033c7ea0'
              clientReference:
                type: string
                nullable: false
                description: Referennce of the shipping order in the client systems
                example: REF0123456789
              shippingDate:
                $ref: '#/components/schemas/ShippingDate'
              description:
                type: string
                nullable: true
                description: Description of the expedition articles (required for crossborder internationa expeditions if no description by parcel[items] is present)
                example: Shoes and Shirts
              totalAmount:
                $ref: '#/components/schemas/TotalAmount'
              parcels:
                type: array
                items:
                  $ref: '#/components/schemas/Parcel'
              serviceAttributes:
                $ref: '#/components/schemas/ServiceAttributes'
              clientAdditionalInfo:
                $ref: '#/components/schemas/ClientAdditionalInfo'
              bulky:
                $ref: '#/components/schemas/Bulky'
              customs:
                $ref: '#/components/schemas/Customs'

    ReturnRequest:
      description: 'Return documentation request'
      content:
        application/json:
          schema:
            required:
              - from
              - carrierCode
              - serviceCode
              - costCenterCode
              - clientReference
              - shippingDate
              - distributionCenterId
              - parcels
            properties:
              from:
                $ref: '#/components/schemas/Address'
              carrierCode:
                type: string
                nullable: true
                description: Carrier code. If rules are to be use this parameter should be set to 'auto'.
                example: dummy
              serviceCode:
                type: string
                nullable: true
                description: Service code. If rules are to be use this parameter should be set to 'auto'.
                example: standard
              costCenterCode:
                type: string
                nullable: true
                description: Alias identifier of the cost center
                default: DEFAULT
              distributionCenterId:
                type: string
                description: 'Distribution center identifier'
                example: '51453d83-8014-11ea-bae6-026b033c7ea0'
              clientReference:
                type: string
                nullable: false
                description: Referennce of the shipping order in the client systems
                example: REF0123456789
              shippingDate:
                $ref: '#/components/schemas/ShippingDate'
              description:
                type: string
                nullable: true
                description: Description of the expedition articles (required for crossborder internationa expeditions if no description by parcel[items] is present)
                example: Shoes and Shirts
              totalAmount:
                $ref: '#/components/schemas/TotalAmount'
              parcels:
                type: array
                items:
                  $ref: '#/components/schemas/Parcel'
              serviceAttributes:
                $ref: '#/components/schemas/ServiceAttributes'
              clientAdditionalInfo:
                $ref: '#/components/schemas/ClientAdditionalInfo'
              bulky:
                $ref: '#/components/schemas/Bulky'
              customs:
                $ref: '#/components/schemas/Customs'

    ReturnsWebPortalConfigurationRequest:
      description: 'Returns Web Portal configuration request'
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ReturnsWebPortalConfiguration'

    RulesConfigurationRequest:
      description: 'Rules configuration request'
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/RulesConfiguration'
    RulesUpdateRequest:
      description: 'Rules configuration request'
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/RulesUpdateConfiguration'

    RulesMatchRequest:
      description: 'Rule match request'
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/RulesMatch'

    TrackingsWebhookConfigurationRequest:
      description: 'Returns Web Portal configuration request'
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/TrackingsWebhookConfiguration'

  responses:
    AdvancedTrackingConfigurationResponse:
      description: 'Advanced tracking configuration response'
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/AdvancedTrackingConfiguration'
              - properties:
                  logo:
                    type: string
                    format: url
                    nullable: true
                    description: 'Logo url'
                    example: 'https://www.deliverea.com/wp-content/uploads/2020/02/logo-color.png'

    SubdomainAlreadyTaken:
      description: 'A request field is invalid or missing'
      content:
        application/json:
          schema:
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: 'VE0900'
                  message:
                    type: string
                    description: 'Error info'
                    example: 'The subdomain X is not available. Please choose a different one'

    ListBillingAccountResponse:
      description: 'Billing Account list response'
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/BillingAccount'

    BillingAccountResponse:
      description: 'Billing Account response'
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/BillingAccount'
              - properties:
                  distributionCenterIds:
                    type: array
                    description: Distribution centers ids associated to this billing address
                    items:
                      type: string
                      format: uuid
                      example: 49030f12-79e6-4e1f-9e3d-b3f6774d742b

    ListCarriersResponse:
      description: 'Lists carriers and available methods'
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Carrier'

    ListServicesResponse:
      description: 'Lists available services for a carrier'
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Service'

    ListCostCentersResponse:
      description: 'Get cost center response'
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: boolean
                      description: active or inactive
                      example: true
                    costCenter:
                      type: string
                      description: Alias identifier of the cost center
                      example: DEFAULT
                    carrierCode:
                      type: string
                      nullable: true
                      description: Carrier to be used when creating the shipment
                      example: dummy
                    distributionCenterId:
                      type: string
                      description: 'Distribution center identifier'
                      example: '51453d83-8014-11ea-bae6-026b033c7ea0'
                    labelType:
                      type: string
                      description: pdf or zpl depending on availability
                      example: pdf
                    labelSource:
                      type: string
                      description: carrier or label engine depending on availability
                      example: carrier
                    contact:
                      type: string
                      description: Carrier contact to be written to in case of opening a Comm Hub ticket
                      example: support@dummy.com

    GetCostCenterResponse:
      description: 'Get cost center response'
      content:
        application/json:
          schema:
            properties:
              data:
                type: object
                properties:
                  status:
                    type: boolean
                    description: active or inactive
                    example: true
                  costCenter:
                    type: string
                    description: Alias identifier of the cost center
                    example: DEFAULT
                  carrierCode:
                    type: string
                    nullable: true
                    description: Carrier to be used when creating the shipment
                    example: dummy
                  distributionCenterId:
                    type: string
                    description: 'Distribution center identifier'
                    example: '51453d83-8014-11ea-bae6-026b033c7ea0'
                  labelType:
                    type: string
                    description: pdf or zpl depending on availability
                    example: pdf
                  labelSource:
                    type: string
                    description: carrier or label engine depending on availability
                    example: carrier
                  contact:
                    type: string
                    description: Carrier contact to be written to in case of opening a Comm Hub ticket
                    example: support@dummy.com
                  credentials:
                    type: object
                    description: Carrier credentials configured for the cost center (see credential fields)
                    example:
                      userName: demo
                      password: demo
                  services:
                    type: array
                    items:
                      type: object
                      properties:
                        serviceCode:
                          type: string
                          description: Service code identifier in Deliverea's systems
                          example: standard
                        status:
                          type: boolean
                          description: Active or not
                          example: true

    ListDistributionCentersResponse:
      description: 'Lists the distribution centers of the current user'
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/DistributionCenter'

    GetDistributionCenterResponse:
      description: 'Get distribution centers response'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DistributionCenter'


    CreateOrderResponse:
      description: 'Order created successfully response'
      content:
        application/json:
          schema:
            properties:
              delivereaReference:
                type: string
                description: Unique deliverea reference
                example: D5312427d7f72b0
              carrierCode:
                type: string
                nullable: true
                description: Carrier to be used when creating the shipment
                example: dummy
              serviceCode:
                type: string
                nullable: true
                description: Service to be used when creating the shipment
                example: standard
              costCenterCode:
                type: string
                nullable: true
                description: Alias identifier of the cost center
                default: DEFAULT

    CreateShipmentResponse:
      description: 'Shipment documented successfully response'
      content:
        application/json:
          schema:
            required:
              - delivereaReference
              - clientReference
              - carrierCode
              - serviceCode
              - costCenterCode
            properties:
              data:
                type: object
                properties:
                  delivereaReference:
                    type: string
                    description: Unique deliverea reference
[...]
